.header {
  padding: 8px 0;

  @include tablet {
    padding: 20px 0 15px;
  }

  @include desktop {
    padding: 30px 0 25px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    height: 40px;

    @include laptop {
      height: 66px;
      margin-right: auto;
    }
  }

  &__btn-add {
    display: none;
    transition: background-color .3s ease-in-out;

    &:hover {
      background-color: $primaryLight;
    }

    @include laptop {
      display: block;
      width: 320px;
      height: 50px;
      border-radius: 8px;
      border: none;
      background-color: $primary;
      color: $white;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      margin-right: 102px;
    }
  }

  &__btn {
    width: 40px;
    height: 40px;
    background-size: 24px;
    background-color: transparent;
    background-position: center right;
    background-repeat: no-repeat;
    border: none;
  }

  &__btn_search {
    background-image: url('../img/search.svg');
  }

  &__btn_delete {
    background-image: url('../img/del-btn.svg');
  }

  &__btn_back {
    background-image: url('../img/back-btn.svg');
    background-position: left;
  }
}
