.search {
  $height: 40px;
  $top: 8px;

  width: 100%;
  position: absolute;
  top: -$top -$height;
  right: 0;
  transition: transform .5s ease-in-out;

  &_active {
    transform: translateY($top * 2 + $height);

    @include tablet {
      transform: translateY($top * 3 + $height);
    }

    @include laptop {
      transform: translateY($top * 5 + $height);
    }

    @include desktop {
      transform: translateY($top * 6.3 + $height);
    }
  }

  &__container {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }

  &__form {
    position: relative;

    @include tablet {
      width: 462px;
    }

    @include laptop {
      width: 580px;
    }
  }

  &__input {
    width: 100%;
    height: $height;
    background-color: $white;
    border-radius: 20px;
    border: 0;
    padding: 3px 40px 3px 15px;
    border: 0;
    outline: 1px solid transparent;
    outline-offset: -1px;

    &:focus {
      outline-color: $secondaryDark;
    }
  }

  &__button {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: $black;
    background-color: transparent;
    border: 0;
  }

}
