.upload {
  max-width: 222px;
  margin: 0 auto 15px;

  &__label {
    display: block;
    background-image: url('../img/upload.jpg');
    width: 222px;
    height: 290px;
    background-size: cover;
    cursor: pointer;
    border-radius: 6px;
  }

  &__preview {
    display: none;
  }

  &__file {
    display: none;
  }
}
